<h1
   class="font-title font-[750] text-6xl md:text-[6.5rem] text-title-primary leading-[0.85] tracking-[-0.04em] mb-8"
>
   Tu refugio <br />
   hecho
   <span class="italic font-[500] text-accent-secondary">trama</span>
</h1>
