<h1
   class="font-title font-[750] text-6xl md:text-[7.5rem] text-title-primary leading-[0.85] tracking-[-0.04em] mb-8"
>
   Tu refugio <br />
   hecho <br>
   <span class="italic font-[400] text-title-primary/80">trama</span>
</h1>
