<div
   class="relative w-full md:w-[45%] flex justify-center md:justify-end order-1 md:order-2 md:mt-0 mt-10"
>
   <div
      class="relative w-[100%] aspect-[1/1] overflow-hidden
                  rounded-[120px_40px_160px_60px]"
   >
      <img
         src="/hero-ambiente-2.jpg"
         class="w-full h-full object-cover grayscale-[15%] hover:grayscale-0 transition-all duration-1000 scale-100"
         alt="Home Decor"
      />
   </div>

   <div
      class="absolute bottom-0 -left-4 md:-left-25 w-44 h-44 md:w-50 md:h-50 animate-nido-slow"
   >
      <img
         src="/producto-detalle-2.png"
         class="w-full h-full object-contain"
         alt="Detalle del tejido"
      />
   </div>
</div>
