---
import { whatsappUrlGeneral, whatsappUrlAgenda } from "@/constants/contact.mjs";

interface Props {
   typeMessage?: "general" | "schedule";
   class: string;
}

const { typeMessage = "general", class: className } = Astro.props;

const url = typeMessage === "general" ? whatsappUrlGeneral : whatsappUrlAgenda;
---

<a
   href={url}
   target="_blank"
   rel="noopener noreferrer"
   class={`
      w-full group
      relative overflow-hidden
      inline-flex items-center justify-center gap-2 
      px-4  sm:px-5
      rounded-full      
       text-center
      text-bg-deep
      bg-cta
      text-white
      font-semibold

      ${className}
   `}
>
   <slot />
</a>
