---
import LogoIcon from "@icons/Logo.astro";

// Obtener la ruta actual
const { pathname } = Astro.url;

// Si la ruta es "/" (o "/index.html"), el link es "#top", de lo contrario es "/"
const href = pathname === "/" || pathname === "/index.html" ? "#top" : "/";
---

<a aria-label="inicio" href={href} {...Astro.props}>
   <!-- <LogoIcon /> -->
   <span
      class="font-title
  font-[550]
  text-2xl
  lowercase
  tracking-[-0.05em]
  text-cta
  
  "
   >
      nidotrama
   </span>
</a>
