---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/shared/SectionContainer.astro";
import Hero from "@/components/sections/Hero/Hero.astro";
---

<!-- TODO: personalizar con titulo y descripción específicos para la página -->
<Layout title="" description="">
   <main class="w-full pt-25 xl:pt-20 flex flex-col justify-center">
      <SectionContainer class="xl:px-12 md:px-8 px-6 pb-16 md:pb-24">
         <Hero/>
      </SectionContainer>
   </main>
</Layout>
